*
  box-sizing: border-box

body, html
  height: 100%

body
  margin: 0

app
  display: flex
  height: 100%

  & > workspace
    display: block
    flex-grow: 1
    height: 100%
    position: relative
    overflow: hidden

    & > scene
      display: block
      width: 100%
      height: 100%
      position: absolute
      transform-origin: 0 0

      & > img, & > canvas
        position: absolute
        transform-origin: 0 0

    & > canvas
      display: block
      width: 100%
      height: 100%
      position: absolute
      pointer-events: none

  & > tools
    background-color: #666
    flex-grow: 0
    & > tool
      background-color: #CCC
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      display: block
      width: 48px
      height: 48px
      box-sizing: border-box
      border: 1px solid rgba(0, 0, 0, 0.5)
      border-top: 1px solid rgba(255, 255, 255, 0.5)
      border-left: 1px solid rgba(255, 255, 255, 0.5)
      cursor: pointer

      &.active
        background-color: #EEE

      &:last-child
        border-bottom-right-radius: 2px

  & > tray
    border-left: 1px solid #AAA
    flex-grow: 0
    width: 129px
    height: 100%

    & > actions
      display: block
      position: absolute
      bottom: 0

    & > materials
      background-color: #666
      display: block
      width: 100%
      height: 100%

      & > img
        max-width: 64px
        height: auto
